<!-- Seleziono la data che voglio registrare -->
<mat-form-field>
  <mat-label>Scegli il mese da registrare </mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    (dateChange)="dateSelected($event)"
  />
  <mat-hint>MM/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<table>
  <ng-container *ngIf="daysOfMonth$ | async as daysOfMonth">
    <thead *ngIf="daysOfMonth.length > 0">
      <tr>
        <th>Giorno</th>
        <th>Numero</th>
        <th>Ore ecc</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let day of daysOfMonth; index as i">
        <td>{{ day.day }}</td>
        <td>{{ day.number }}</td>
        <td>
          <select id="hoursWorked">
            <option value="" disabled selected>Seleziona ore</option>
            <option value="1">1 ora</option>
            <option value="2">2 ore</option>
            <option value="3">3 ore</option>
            <option value="4">4 ore</option>
            <option value="5">5 ore</option>
            <option value="6">6 ore</option>
            <option value="7">7 ore</option>
            <option value="8">8 ore</option>
          </select>
        </td>
      </tr>
    </tbody>
  </ng-container>
</table>

<section>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<router-outlet></router-outlet>
